<%- model_class = Regional -%>


<table class ="table table-striped">
  <thead>
    <tr>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regionals.each do |regional| %>
      <tr>
        <td><%= regional.departamento %></td>
        
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Regional', new_regional_path %>
