<p id="notice"><%= notice %></p>

<p>
  <strong>Departamento:</strong>
  <%= @regional.departamento %>
</p>

<%= link_to 'Edit', edit_regional_path(@regional) %> |
<%= link_to 'Back', regionals_path %>
